{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<input type="hidden" id="room_id" value="{{ room_id }}">
<div class="container col-8">
    <h2>Sala de chat</h2>
    <h4 class="text-danger">Dueño de la sesion: {{ user.first_name }}</h4>
    <hr>
    
    <!-- Contenedor de mensajes -->
    <div id="boxMessages" style="max-height: 400px; overflow-y: auto;"></div>
    
    <!-- Área de envío de mensajes -->
    <div id="chat" class="mt-3">
        <input type="text" class="form-control" id="inputMessage" placeholder="Escribe un mensaje...">
        <button class="btn btn-success mt-2" id="btnMessage">Enviar</button>
        <a class="btn btn-primary mt-2 float-end" href="{% url 'home' %}">Salir</a>
    </div>
    <div>
        <button id="connect-btn">Conectar a Bluetooth</button>
        <h1><div id="status">Pulso</div></h1>
    </div>
</div>

<!-- Enlace a los archivos JavaScript externos -->
<script>
    const user = "{{ request.user.username }}";  // Usuario actual
    const room_id = "{{ room_id }}";  // ID de la sala de chat
    console.log("Room ID:", room_id); // Este log debe mostrar la ID de la sala
</script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
